<config>
    <modules>
        <Virtua_Rewrite>
            <version>3.1.5.6</version>
        </Virtua_Rewrite>
    </modules>

    <frontend>
        <routers>
            <Virtua_Rewrite>
                <use>standard</use>
                <args>
                    <module>Virtua_Rewrite</module>
                    <frontName>rewrite</frontName>
                </args>
            </Virtua_Rewrite>
        </routers>

        <layout>
            <updates>
                <Virtua_Rewrite>
                    <file>rewrite.xml</file>
                </Virtua_Rewrite>
            </updates>
        </layout>

    </frontend>

    <global>
        <models>
            <sales>
                <rewrite>
                    <order>Virtua_Rewrite_Model_Rewrite</order>
                </rewrite>
            </sales>
        </models>
    </global>

</config>