<config>
    <modules>
        <Virtua_Observer>
            <version>3.1.5.6</version>
        </Virtua_Observer>
    </modules>
    <frontend>
        <events>
            <checkout_type_onepage_save_order>
                <observers>
                    <Virtua_Observer_Onepage>
                        <type>singleton</type>
                        <class>Virtua_Observer_Model_Observer</class>
                        <method>saveOrder</method>
                    </Virtua_Observer_Onepage>
                </observers>
            </checkout_type_onepage_save_order>
        </events>
        <routers>
            <Virtua_Observer>
                <use>standard</use>
                <args>
                    <module>Virtua_Observer</module>
                    <frontName>observer</frontName>
                </args>
            </Virtua_Observer>
        </routers>
        <layout>
            <updates>
                <virtua_observer>
                    <file>observer.xml</file>
                </virtua_observer>
            </updates>
        </layout>
    </frontend>
</config>