<config>
<modules>
<Virtua_Client>
    <version>3.1.5.6</version>
</Virtua_Client>
</modules>
<global>
<blocks>
    <virtua_client>
        <class>Virtua_Client_Block</class>
    </virtua_client>
</blocks>
</global>
<frontend>
<routers>
    <Virtua_Client>
        <use>standard</use>
        <args>
            <module>Virtua_Client</module>
            <frontName>client</frontName>
        </args>
    </Virtua_Client>
</routers>
<layout>
    <updates>
        <Virtua_Client>
            <file>client.xml</file>
        </Virtua_Client>
    </updates>
</layout>
</frontend>
        </config>